.modal{
    position: absolute;
    padding: 15rem 10rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(0.25turn, #A676A5, #D38592);
    border: 5px solid #754678;
    border-radius: 1rem;
    height: 85%;
    width: 75%;
    z-index: 10;
    visibility: hidden;
}

/* .start-screen {
    for the end screen add callsList.add("visible: hidden")
} */
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
input {
    width: 25rem;
}

button {
    border-radius: 2rem;
    background: rgb(255, 255, 255, 0.6);
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#start-game-btn {
    width: 25rem;
}

.interface-btn {
    width: 10rem;
}

h2 {
    font-size: 3.6rem;
    font-weight: 700;
}
.select-target-score h2 {
    font-size: 3.6rem;
    font-weight: 700;
    margin-bottom: 10rem;
}
.select-target-score form input {
    margin-bottom: 1rem;
    border-radius: 1.5rem;
    height: 4rem;
}